.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.error {
  color: red;
  font-weight: bold;
}



.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.popup-edit {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease;
}

/* Entradas y botones dentro del formulario */
.popup-edit form input,
.popup-edit form textarea {
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.popup-edit form button {
  margin-right: 10px;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  background-color: #67bae7;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

.popup-edit form button[type="button"] {
  background-color: #1176a8;
}



input,
textarea {
  display: block;
  padding: 5px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
  transition: border-color 0.3s ease;
}



body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f2f4f8;
  color: #333;
  padding: 10px;
  margin: 0;
}

h1 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 5px;
}

section {
  margin: 0 auto;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #34495e;
  margin-bottom: 5px;
}

form>div {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
}

input:focus,
textarea:focus {
  border-color: #3498db;
  outline: none;
  border-width: 3px;
}

button {
  background-color: #3498db;
  color: white;
  padding: 6px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 8px;
}

button:hover {
  background-color: #2980b9;
}

div>h3 {
  margin-top: 3px;
  color: #27ae60;
}

div>p {
  margin: 5px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 100px 20px;
  padding: 30px;
  background: #f5f5f5;
  min-height: 100vh;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.product-grid img {
  width: 90%;
  height: auto;
  align-items: stretch;

}

.product-card {
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);

}

.description {
  font-size: 16px;
  margin: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.price {
  font-size: 30px;
  font-weight: 700;
  color: #3498db;
}

header {
  border-radius: 10px;
}

.mi-navbar {
  font-size: 18px;
  font: bold 18px/1.5 'Arial', sans-serif;
}

footer {
  background-color: #3498db;
  font-size: 16px;
  color: white;
  font: bold;
  display: flex;
  justify-content: center;
  gap: 15px;
  border-radius: 10px;

}

.logo {
  max-width: 100%;
  height: auto;
}

/*mobile*/
@media (max-width: 480px) {
  .product-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 20px;
  }
}